* {
  font-family: Khmer Viravuth;
  font-size: 20px;
}
a {
  margin-left: 20px;
}
select{
    margin-left: 20px;
}
.menu {
  display: flex;
  justify-content: center;
}
* {
  margin: 0;
  padding: 0;
  font-size: 30px;
}
